@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

:root {
  --card-bg: #0C111B;
  --input-bg: #101622;
  --input-border: #5A606C;
  --text-color: #FFFFFF;
  --button-background-color: #0D57ED;

  --font-main: "Inter", Arial, sans-serif;
  --font-logo: "Kavoon", cursive;

  --title-size: 24px;
  --input-text-size: 16px;
  --small-text-size: 10px;
  --normal-text-size: 16px;
  --content-max-width: 1242px;
}

.container {
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 16px; /* ajuda no mobile */
}